.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 100px;
  margin: 0 auto;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  text-align: center;
  margin: 0 0 100px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card__list-item {
  margin: 0 0 16px;
  display: flex;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}
